@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#7a6d6d;
    --border:.1rem solid rgba(255,255,255,.3);

    --cor-azul1:rgb(28, 54, 97);
    --cor-azul2:rgb(70, 140, 188);
    --cor-azul3:rgb(130, 206, 234);
    --cor-azul4:rgb(13, 45, 67);
    --cor-branco:rgb(255, 255, 255);
    --cor-preto:rgb(0, 0, 0);
    --cor-dourado:rgb(204, 204, 204);
}

*{
    font-family: 'Play','Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    /* scroll-behavior: smooth; */
    scroll-behavior: auto;
    /* overflow: hidden;  */
    /* Impede rolagem */
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--cor-branco);
}


/*===  Inicio Header Section  === */

.header{
    background: var(--cor-branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 10rem;
}

.header .navbar a{
    font-weight: 700;
    margin:0 1rem;
    font-size: 1.9rem;
    color:var(--cor-azul1);
}

.header .navbar a:hover{
    color:var(--cor-azul2);
    border-bottom: .1rem solid var(--cor-azul2);
    padding-bottom: .5rem;
}

.header .icons div{
    color:var(--cor-azul1);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--cor-azul2);
}

#menu-btn{
    display: none;
}


.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: var(--cor-azul2);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: var(--cor-branco);
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

/* -- Final Header Section  -- */


/*===  Inicio Container Section  === */

.container {
    /* padding-top: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    height: 80vh;
    width: auto;
    display: flex;

    padding: 50px;
    gap: 20px;
    background-color: #fdfdfd;
}

/* -- Final Container Section  -- */


/*===  Inicio article Content   === */

.content {
    flex: 1; /* menor proporção */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--cor-branco);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.section-title {
    font-size: 2.5rem;
    color: var(--cor-azul1);
    margin-bottom: 15px;
    text-align: center;
}

/* -- Final article Content   -- */



/* === Inicio Class table-wrapper === */

/* Tabela */
.table-wrapper {
    max-height: 300px; /* altura fixa para a área da tabela */
    overflow-y: auto; /* rolagem interna */
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

/* -- Final Class table-wrapper    -- */




/* === Inicio Configuração do Carrinho Itens(content) === */

.cart-table {
    padding-top: 350PX;
    width: 100%;
    border-collapse: collapse;
}

.cart-table thead {
    background-color: var(--cor-azul1);
    color: var(--cor-branco);
    position: sticky;
    top: 0;
    text-align: center;
}

.cart-table th,
.cart-table td {
    padding: 12px;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Nome do item em negrito */
.cart-table td:first-child {
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--cor-azul1);
}

/* Botões (+/-) com cores e hover */
.quantity-controls button {
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: #fff;
}

/* Botão diminuir (-) */
.quantity-controls .decrease {
    background-color: #f87d6f; /* vermelho */
}
.quantity-controls .decrease:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}

/* Botão aumentar (+) */
.quantity-controls .increase {
    background-color: #82fdb6; /* verde */
}
.quantity-controls .increase:hover {
    background-color: #1e8449;
    transform: scale(1.1);
}

/* Espaçamento entre botões e número */
.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Imagem com bordas e efeito hover */
.cart-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cart-img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}



/* Botão */
.btn {
    display: inline-block;
    padding: 12px;
    background-color: var(--cor-azul1);
    color: var(--cor-branco);
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn:hover {
    background-color: var(--cor-azul2);
}

/* === Final Configuração do Carrinho Itens(content) === */




/*===  Inicio Image-container Section (Imagem SVG) === */

#image-container {
    /* padding-top: 50px; */
    background-color: #fdfdfd;
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#compressor-img {
    padding-top: 150PX;
    max-width: 140rem;
    max-height: 140rem;
    height: auto;
    width: auto;
    display: block;
    touch-action: none;
}



/*===  Inicio Footer Section === */

.footer{
    background:var(--cor-branco);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--cor-azul3);
    border:.1rem solid var(--cor-azul3);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--cor-azul3);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:var(--cor-azul2);
    border:.1rem solid var(--cor-dourado);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 1.7rem;
    color:var(--cor-azul2);
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--cor-azul2);
}

/* -- Final Footer Section  -- */


/*===  Inicio Botão Flutuante do WhatsApp Section === */

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    border: 3px solid #fff;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.whatsapp-float i {
    margin-top: 12px;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}



/*===  Inicio Modal === */

.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    max-width: 600px;
    width: 90%; 
}

.close-btn {
    position: absolute;
    top: 10px; right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.modal img {
    max-width: 500px;
    margin-bottom: 10px;
}

#modal-info {
    font-size: 1.7rem;
    color: #333;
    margin-top: 10px;
}

/* --- Media Query Modal --- */
@media (max-width: 768px) {
    .modal-content {
        max-width: 90%;
        padding: 15px;
    }

    .modal img {
        max-width: 200px;
        margin-bottom: 5px;
    }
} 

/*===  Final Modal === */





/*===  Inicio Media Queries Section === */

@media (max-width:991px){

    html{
        font-size: 60%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

    .container {
        flex-direction: column-reverse; /* imagem acima do conteúdo */
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3.5rem;
    }
}

/* -- Final Inicio Media Queries Section Section  -- */
