
    body, html {
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center; /* Centraliza horizontalmente */
      align-items: center;     /* Centraliza verticalmente */
      background-color: #ffffff;
    }

    #image-container {
      background-color: #f7f4f4;
      width: 90vw;
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
    }

    #tabela-img {
      max-width: 90%;
      max-height: 90%;
      height: auto;
      width: auto;
      display: block;
      touch-action: none;
    }

