@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#7a6d6d;
    --border:.1rem solid rgba(255,255,255,.3);

    --cor-azul1:rgb(28, 54, 97);
    --cor-azul2:rgb(70, 140, 188);
    --cor-azul3:rgb(130, 206, 234);
    --cor-azul4:rgb(13, 45, 67);
    --cor-branco:rgb(255, 255, 255);
    --cor-preto:rgb(0, 0, 0);
    --cor-dourado:rgb(204, 204, 204);
}

*{
    font-family: 'Play','Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: auto;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--cor-branco);
}

section{
    padding:5rem 7%;
}

.heading{
    text-align: center;
    color:var(--cor-azul1);
    text-transform: uppercase;
    /* padding-bottom: 3.5rem; */
    font-size: 4rem;
}

.heading span{
    color:var(--cor-azul2);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1.1rem 5rem;
    font-size: 2.1rem;
    font-weight: 700;
    border-radius: 5px;
    color:var(--cor-branco);
    background: var(--cor-azul1);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}


/*===  Inicio Header Section  === */

.header{
    background: var(--cor-branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 10rem;
}

.header .navbar a{
    font-weight: 700;
    margin:0 1rem;
    font-size: 1.9rem;
    color:var(--cor-azul1);
}

.header .navbar a:hover{
    color:var(--cor-azul2);
    border-bottom: .1rem solid var(--cor-azul2);
    padding-bottom: .5rem;
}

.header .icons div{
    color:var(--cor-azul1);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--cor-azul2);
}

#menu-btn{
    display: none;
}


.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: var(--cor-azul2);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: var(--cor-branco);
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

/* -- Final Header Section  -- */


/*===  Inicio Home Section  === */

.home{
    min-height: 80vh;
    display: flex;
    align-items: center;
    background:url(../images/home-img.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color:var(--cor-azul1);
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:var(--cor-dourado);
}

/* -- Final Home Section  -- */


/*===  Inicio About Section === */

.about .row{
    display: flex;
    align-items: center;
    flex-direction: row;
    background:var(--cor-branco);
    flex-wrap: wrap;
    padding: 25px;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:var(--cor-azul2);
}

.about .row .content p{
    font-size: 1.9rem;
    color:var(--cor-dourado);
    padding:1rem 0;
    line-height: 1.8;
}

/* -- Final About Section  -- */


/*===  Inicio Blogs Section === */

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border-radius: 5px;
    border: .07rem solid rgba(204, 204, 204, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.blogs .box-container .box .image{
    height: 1rem;
    overflow:hidden;
    width: 1%;
    border-radius: 5px;
}

.blogs .box-container .box .image img{
    /* height: 100%; */
    object-fit: cover;
    /* width: 100%; */
    border-radius: 5px;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    display: flex;
    flex-direction: column; /* mantém os elementos empilhados verticalmente */
    justify-content: center; /* alinha verticalmente */
    align-items: center; /* alinha horizontalmente */
    text-align: center; /* centraliza o texto */
    height: 100%; /* ou defina uma altura fixa, ex: 300px */
    padding: 2rem;

}

.blogs .box-container .box .content .title{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.5;
    color:var(--cor-azul1)
}

.blogs .box-container .box .content .title:hover{
    color:var(--cor-azul2);
}

.blogs .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}

/* -- Final Blogs Section  -- */


/*===  Inicio Menu Section === */

.menu{
    margin-top: 30PX;
    padding-top: 100PX;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    background:var(--cor-branco);
    padding:5rem;
    text-align: center;
    border:.07rem solid var(--cor-azul1);   
    border-radius: 5px;   

    border: .07rem solid rgba(204, 204, 204, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.menu .box-container .box img{
    height: 25rem;
}

.menu .box-container .box h3{
    color: var(--cor-azul1);
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: var(--cor-azul2);
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background-color: rgba(204, 204, 204, 0.3);
    color:var(--cor-azul3);
}

/* -- Final Menu Section  -- */


/*===  Inicio Products Section === */

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.products .box-container .box{
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    border: .07rem solid rgba(204, 204, 204, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}

.products .box-container .box .icons a{
    height: 2rem;
    width: 1rem;
    line-height: 5rem;
    font-size: 2rem;
    border:.1rem solid var(--cor-dourado);
    color:var(--cor-azul2);
    margin:.3rem;
}

.products .box-container .box .icons a:hover{
    background:var(--cor-azul3);
}

.products .box-container .box .image{

    padding: .5rem 0;
}

.products .box-container .box .content .image img{
    height: 25rem;
}

.products .box-container .box .content h3{
    color:var(--cor-azul2);
    font-size: 2.5rem;
    padding-top: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--cor-azul3);
}

.products .box-container .box .content .price{
    color:var(--cor-azul2);
    font-size: 2.5rem;
}

.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

/* -- Final Products Section  -- */


/*===  Inicio Review Section === */

/* 
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
} */

/* -- Final Review Section  -- */


/*===  Inicio Contact Section === */

.contact .row{
    display: flex;
    align-items: center;
    background:var(--cor-branco);
    flex-wrap: wrap;
    gap:1rem;
    padding: 25px;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    /* text-transform: uppercase; */
    font-size: 2.5rem;
    color:var(--cor-azul1)
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--cor-branco);
    border:.1rem solid var(--cor-dourado);
    border-radius: 5px;
    border: .07rem solid rgba(204, 204, 204, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.contact .row form .inputBox span{
    color:var(--cor-azul1);
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color: var(--cor-azul1);
    text-transform: none;
    background:none;
}

.contact .row form .inputBox textarea{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color: var(--cor-azul1);
    text-transform: none;
    background:none;
}

/* -- Final Contact Section  -- */


/*===  Inicio Footer Section === */

.footer{
    background:var(--cor-branco);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--cor-azul3);
    border:.1rem solid var(--cor-azul3);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--cor-azul3);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:var(--cor-azul2);
    border:.1rem solid var(--cor-dourado);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 1.7rem;
    color:var(--cor-azul2);
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--cor-azul2);
}

/* -- Final Footer Section  -- */


/*===  Inicio Botão Flutuante do WhatsApp Section === */

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    border: 3px solid #fff;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.whatsapp-float i {
    margin-top: 12px;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

/* -- Final Botão Flutuante do WhatsApp Section Section  -- */


/*===  Inicio Media Queries Section === */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:5rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

/* -- Final Inicio Media Queries Section Section  -- */



/* 
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
} */

.home-compressor-alternativo {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente */
  padding-top: 150px;
  height: 100vh;           /* ocupa 100% da altura da tela */
  width: 100vw;            /* ocupa 100% da largura da tela */
  overflow: hidden;
}

.content-compressor-alternativo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tabela-img {
  max-width: 100%;
  max-height: 100%;
}
